/*.*********.Custom Porperties.**********.*/

:root {
    --main-font: 'Montserrat';
    --alternate-font: sans-serif;
    --font-size: 16px;
    --line-height: 1.6;
    --main-color: #FFF;
    --main-modal-color: rgba(245, 225, 225, 0.75);
    --second-color: #000;
    --second-modal-color: rgba(0, 0, 0, .75);
    --alternate-color: #3987E1;
    --alternate-modal-color: #1BA2D8;
    --bg-color: var(--main-color);
    --bg-modal-color: var(--main-modal-color);
    --bg-alternate-color: #999;
    --bg-alternate-modal-color: rgba(153, 153, 153, .75);
    --border-color: #DDD;
    --text-color: #242424;
    --title-color: #333;
    --link-color: var(--alternate-color);
    --link-hover-color: var(--alternate-modal-color);
    --max-width: 1200px;
    --header-heigth: 5rem;
    --logo-width: 4rem;
    --logo-height: 4rem;
    --logo-spaicing: .5rem;
}


/*.*********.Variables.**********.*/

$breakpoints:( xs: 30em, s: 37.5em, m: 45em, l: 64em, xl: 75em);
